<section class="phx-hero">
  <h1><%= gettext "Welcome to paiement home page" %></h1>
  <p>To proceed, please clink on the link below</p>
  <%= link "Paiement page", to: Routes.live_path(@conn, PaiementAppWeb.PaiementLive) %>
</section>
